h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}

article {
  margin-bottom: 3em;
  border-bottom: 1px solid blue;
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.size {
  font-size: 20px;
}
